.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    min-width: 350px;
    height: 45%;
    min-height: 575px;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card-image{
    width:100%;
    height:250px;
    cursor: pointer;
}

.card-image > img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 10px;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
}

.card-description > p {
        display: -webkit-box;
        max-width: 350px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
}

.bookmark-btn > button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.registration{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.seats{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.seats > p{
    color: #ECECAB;
    margin-left: 7px;
}

.registration > p{
    color: #A0F3AD;
    margin-left: 7px;
}