@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@200&family=Lato:wght@100&family=Poppins:wght@200;300&family=Sofia+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
}
